{% extends "index.html" %}
{% block content %}
	<form action="" method="post" name="CartForm">
		<!-- font color="LightGray">Welcome to the DFA Store Cart Page!</font><br/>
		<input style='color:white;background-color:limegreen;' name='return_button' type='submit' value='Return to DFAStore' -->
		<table width="100%">
			<tr>
				<td width="8%">
					<input style="height:100%; width:100%;color:white;background-color:red;" name="managers_button" type="submit" value="Management">
				</td> 
				<td align="center">
				</td>
				<td width="10%">
					<input style="height:100%; width:100%;color:white;background-color:red;" name="dfashop_button" type="submit" value="DFA Shop">
				</td>
			</tr>
		</table>
		<hr>
		<table width='100%' align='center'>
			<tr>
				<td width='30px' align='center'><b><font color="LightGray">DFAPS:</font></b></td>
				<td width='100px' align='center'><font color="LightGray">{{ availabledfaps }} - Available</font></td>
				<td width='100px' align='center'><font color="LightGray">{{ useddfaps }} - Used (Cart Items)</font></td>
				<td width='100px' align='center'><font color="LightGray">{{ totaldfaps }} - Total (Available + Cart Items)</font></td>
			</tr>
		</table>
		<hr>
		<table width='100%' align='center'>
			<thead>
				<th><h2><font color="LightGray">XXX Items</font></h2></th>
				<th><font color="LightGray">Item Name</font></th>
				<th><font color="LightGray">Amount</font></th>
				<th><font color="LightGray">Statistics</font></th>
				<th><font color="LightGray">Cost DFAPs</font></th>
				<th/>
			</thead>
			<tbody>
				{% for item in itemstable %}
					<tr>
						<td width='200px' align='center'><img src="{{url_for('static', filename='images/placeholderimage.png')}}" /></td>
						<td width='200px' align='center'><font color="LightGray">{{ item.ItemName }}</font></td>
						<td width='50px' align='center'><font color="LightGray">{{ item.ItemAmount }}</font></td>
						<td width='200px' align='center'><font color="LightGray">{{ item.ItemStats }}</font></td>
						<td width='50px' align='center'><font color="LightGray">{{ item.ItemCost }}</font></td>
						<td style='width:300px; align:center;'><input style='color:white;background-color:limegreen;' name='return_button' type='submit' value='Return to Store'></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</form>
{% endblock %}